<% if page=="index" or page=="form" %>
<%= content_for :title, "#{title(page)}" %>
<% end %>
<div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-rocket'></i>
      <span class="logo_name">ZUPP</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/tickets/filter/all" data-method="post" class="<%= (all or (filtered == false))? 'active':nil%>">
            <i class="fa fa-th-list" aria-hidden="true"></i>
            <span class="links_name">All tickets</span>
          </a>
        </li>
        <li>
          <a href="/tickets/filter/priority" data-method="post" class="<%= (priority)? 'active':nil%>">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span class="links_name">High priority tickets</span>
          </a>
        </li>
        <li>
          <a href="/tickets/filter/open" data-method="post" class="<%= (open)? 'active':nil%>">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
            <span class="links_name">Open tickets</span>
          </a>
        </li>
        <li>
          <a href="/tickets/filter/resolved" data-method="post" class="<%= (resolved)? 'active':nil%>">
            <i class="fa fa-check-square" aria-hidden="true"></i>
            <span class="links_name">Resolved tickets</span>
          </a>
        </li>
        
        <li class="log_out">
          <%= link_to destroy_session_path, method: :delete ,:data=> {:confirm => 'Are you sure? Do
          you want to logout ?'} do %>
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          <% end %>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard"><%= title %></span>
      </div>
      <%= form_with(url: "/search" , method: "get",id: "search-form" ) do%>
        <div class="search-box">
        <input type="text" name="search" placeholder="Search">
        <i class='bx bx-search' onclick="document.getElementById('search-form').submit()"></i>
      <% end %>
        </div>
        <% if page != "form" %>
        <div class="create_ticket_button">
        <i class="fa fa-plus-circle" aria-hidden="true" onclick="window.location.href='/tickets/new'"></i>
      </div>
        <% end %>
      <div class="profile-details">
        <span class="admin_name"><%= @user.first_name %> <%= @user.last_name %></span>
      </div>
    </nav>
    <div class="home-content">
        <div class="overview-boxes">
         <% if page == "index" %>
          <div class="box" id="<%= (all==true or (filtered == false))? 'active':nil%>">
            <div class="right-side">
              <div class="box-topic">All</div><br>
              <div class="number"><%= (user.role == "admin")? (Ticket.all.length) : (user.tickets.all.length) %></div>
            </div>
            <i class="fa fa-th-list" aria-hidden="true" style="margin-left: 140px;"></i>
          </div>
          <div class="box" id="<%= (priority)? 'active':nil%>">
            <div class="right-side">
              <div class="box-topic">High priority </div><br>
              <div class="number"><%= (user.role == "admin")? (Ticket.all.where(priority_id: 3).length) : (user.tickets.all.where(priority_id: 3).length) %></div>
            </div>
            <i class="fa fa-exclamation-triangle" aria-hidden="true" style="margin-left: 60px;"></i>
          </div>
          <div class="box" id="<%= (open)? 'active':nil%>">
            <div class="right-side">
              <div class="box-topic">Open</div><br>
              <div class="number"><%= (user.role == "admin")? (Ticket.all.where(status_id: 1).length) : (user.tickets.all.where(status_id: 1).length) %></div>
            </div>
            <i class="fa fa-folder-open" aria-hidden="true" style="margin-left: 120px;"></i>
          </div>
          <div class="box" id="<%= (resolved)? 'active':nil%>">
            <div class="right-side">
              <div class="box-topic">Resolved</div><br>
              <div class="number"><%= (user.role == "admin")? (Ticket.all.where(status_id: 4).length) : (user.tickets.all.where(status_id: 4).length) %></div>
            </div>
            <i class="fa fa-check-square" aria-hidden="true" style="margin-left: 100px;"></i>
          </div>
        </div>
        <% end %>