
<%= content_for :title, "Zupp | Notes" %>
<%= render "nav" ,all: false ,priority: false, open: false, resolved: false, title: "Notes",user: @user,filtered: @filtered,page: "notes" %>
<%@pro = Priority.find(@ticket.priority_id)%>
<%@sta = Status.find(@ticket.status_id)%>
<% @requester = User.find(@ticket.user_id) %>

<div class="flex-holder-div">
<div class="notes-holder">
<div class="user-details">
  <p class="requester_name">
    <%= @requester.first_name %> <%= @requester.last_name %>
  </p>
  <p class="time-holder-ticket">
    <% @ticket_date = ((Date.today - Date.parse(@ticket.created_at.strftime("%F"))).to_s).split("")[0] %>
    Created <%= date(@date,@ticket)%>
  </p>
  
  <div class="subject_note_ticket">
    <p class="subject-ticket-title">Subject</p>
    <p class="ticket_subject">
      <%= @ticket.subject %>
    </p>
  </div>
  
  <div class="subject_note_ticket">
    <p class="subject-ticket-title">Priority</p>
    <p class="ticket_subject">
      <% @priority_of_ticket = Priority.find(@ticket.priority_id) %>
      <%= @priority_of_ticket.priority %>
    </p>
  </div>
</div>



<div class="chats">
   <div class="recent_note">
    <% if @notes.last != nil %>
    <% @date = ((Date.today - Date.parse(@notes.last.created_at.strftime("%F"))).to_s).split("")[0] %>
    <p class="recent_note_text"><%= @notes.last.user.first_name %> added a public note &nbsp;&nbsp;&nbsp;<%= date(@date,@notes.last)%></p>
    <% else %>
    <p class="recent_note_text">No recent notes</p>
    <% end %>
  </div>
  <div class="notes_div">
  <% @notes.each do |note| %>
  <% @count += 1 %>
   <div class="note-container">
    <div class="note-flex">
      <% @note_date_user = ((Date.today - Date.parse(note.created_at.strftime("%F"))).to_s).split("")[0] %>
      <p class="note_creator"><%= note.user.first_name %> added this note </p>
      <p class="date-created" style="font-size: 12px;"><%= date(@note_date_user,note)%></p>
      <p class="note-edit"><i class="fa-solid fa-pen" id="toggle_edit_text" onclick="showHideForm('edit_subject<%= @count %>')" ></i></p>
      <p class="note-delete">
        <%= link_to "/notes/#{note.id}",method: :delete,data: {confirm: 'Are you sure?'}  do %>
        <i class="fa-solid fa-trash-can"></i>
       <% end %></p>
       <div id = "edit_subject<%= @count %>" style="display: none;" class="edit_note_form">
        <%= form_with(url: "/notes/#{note.id}", method: "put",class: "edit-note-form") do |form|%>
          <%= form.text_field "note", placeholder: note.note,value: note.note,autofocus: "autofocus",class: "edit-note-note"  %>
          <%= form.submit "Edit",class: "submit-edit-form" %>
        <% end %>
       </div>
    </div>
   
    <p class="note-note">
      <%= note.note %>
    </p>
    
    <% if note.images.attached? %>
    <% note.images.each do|image| %>
      <%= image_tag image,class: "image-div" %>
    <% end %>
    <% end %>
     <% if flash[:error] %>
      <p class="signin-Flash-error">
     <%= flash[:error] %>
      </p>
     <% end %>
    
  </div>
    <% end %>
  
  </div>
  
</div>





<div class="add_form">
  <div class="add_note_div">
  <%= form_with(url: "/notes", method: "post") do|form| %>
      <%= form.text_area "note[note]",placeholder: "Add note here", autofocus: "autofocus",class: "note-description"  %>
      <%= form.file_field "note[images]",multiple: true,class: "file-field-note"%>
      <%= form.label "note[images]",class: "label-note" do%>
       <i class="fas fa-upload"></i>
      <% end %>
      <button type="submit" class="submit-form"><i class="fas fa-paper-plane"></i></button>
  <% end %>
  </div>
  </div>
</div>

<div class="bot-holder">
    <div class="ticket-properties">
      <div class="ticket-field-1">
        <p class="ticket-field-1-title">Subject</p>
        <p class="ticket_field-1-subject">
          <%= @ticket.subject %>
        </p>
      </div>
      <div class="ticket-field-1">
        <p class="ticket-field-1-title">Requester</p>
        <p class="ticket_field-1-subject">
          <%= @requester.first_name %>
        </p>
      </div>
      <%= form_with(url: "/notes/tickets/#{@ticket.id}", method: "put", class: "AddTicket") do |form|%>
      <div class="ticket-field-1">
        <p class="ticket-field-1-title">Status</p>
        <p class="ticket_field-1-subject">
          <%= select_tag 'status_id', options_for_select([["Open",1], ["Pending",2], ["Resolved",3], ["Closed",4]],[@sta.status,@ticket.status_id]),onchange: "this.form.submit()",disabled: (@user.role!="admin")?true:false%>
        </p>
      </div>
      <div class="ticket-field-1">
        <p class="ticket-field-1-title">Priority</p>
        <p class="ticket_field-1-subject">
          <%= select_tag 'priority_id', options_for_select([["Low",1],["Medium",2],["High",3],["Urgent",4]],[@pro.priority,@ticket.priority_id]),onchange: "this.form.submit()",disabled: (@user.role!="admin")?true:false%>
        </p>
      </div>
      <div class="ticket-field-1">
        <p class="ticket-field-1-title">Assigned to</p>
        <p class="ticket_field-1-subject">
          <select name="agent" onchange="this.form.submit()" <%=(@user.role!="admin")?"disabled":nil%>>
            <% @user_org.each do |org| %>
            <optgroup label = "<%= org.org_name %>">
                <% org.agents.all.each do |agent| %>
                    <option value = "<%= agent.user.first_name %>" selected= <%= (@ticket.agent == agent.user.first_name)?"selected":nil %> ><%= agent.user.first_name %></option>
            </optgroup>
                <% end %>
                <% end %>
        </select>
        </p>
      </div>
      <% end %>
      
    </div>
    <div class="bot-icon-holder">
      <div class="bot-icon" id="bot-icon1" style="display: none;" onclick="bot_div(1,2)">
        <%= image_tag "faky.gif",class: "bot-image-gif"%>
      </div>
      <div class="bot-icon" id="bot-icon2" style="display: block;">
        <div class="div-2-container">
          <div class="left-bot-div-2">
            <p class="welcome-bot">
              Hello! &nbsp;I am Zupp Bot!
            </p>
            <div class="contents">
              <div class="topic1">
                 <p class="question">1. Do you want to close this ticket ?</p> 
                 <p class="definition"> On performing this event ' the status of the ticket will be turned as "CLOSED"</p>
                 <p class="confirmation"> <a href="#" class="confirm-link">YES</a></p>
              </div>
              <div class="topic1">
                <p class="question">2. Do you want to delete this ticket ?</p> 
                <p class="definition"> On performing this event , ticket will be "DELETED"</p>
                <p class="confirmation"> <a href="#" class="confirm-link">YES</a></p>
             </div>
             <div class="topic1">
              <p class="question">3. Do you want to use canned responses as a note ?</p> 
              <p class="definition"> On performing this event , the default list of canned responses will be open for adding as a note</p>
              <p class="confirmation"> <a href="#" class="confirm-link">YES</a></p>
           </div>
            </div>
          </div>
          
          <div class="right-bot-div-2" id="div-2-flexes"><%= image_tag "bot-2.gif",class: "bot-image-gif2"%> 
          
          </div>
       </div>
      </div>
      
    </div>
  </div>
</div>
</div>
</section>


<%= javascript_include_tag 'ticket' %>
<%= javascript_include_tag 'note' %>