<div class="sales-boxes">
    <div class="form-background">
        <%if flash[:error] %>
        <div class="flash">
            <%= flash.now[:error] %>
        </div>
            <% end %>
          
        <%= form_with(url: "/tickets", method: "post") do|form| %>
        <p class="subject">Subject  <span style="color: rgb(191, 111, 125);font-weight: bold;">*<span>
        <%= form.text_field "ticket[subject]",class: "subject_field", placeholder: "Type ticket subject here", autofocus: true%>
        <div class="flex-1">
        <div class="grid1">
            <p class="subject">Source</p>
        <%= form.select "ticket[source]", ["Phone", "Email", "Portal", "Chat", "Feedback Widget"],class: "input-field-flex" %>
        </div>
      <div class="grid-2">
        <p class="subject">Status <span style="color: rgb(191, 111, 125);font-weight: bold;">*<span></span></p>
    <%= form.select "ticket[status_id]", [["Open",1], ["Pending",2], ["Resolved",3], ["Closed",4]],class: "input-field-flex" %>
      </div> 
     <div class="grid-3">
        <p class="subject">Urgency</p>
        <%= form.select "ticket[urgency]", ["Low", "Medium", "High"],class: "input-field-flex" %>
     </div>
   
   </div>
   <div class="flex-1">
    <div class="grid1">
        <p class="subject">Impact</span></p>
    <%= form.select "ticket[impact]", ["Low", "Medium", "High"],class: "input-field-flex" %>
    </div>
  <div class="grid-2">
    <p class="subject">Priority <span style="color: rgb(191, 111, 125);font-weight: bold;">*<span></span></p>
    <%= form.select "ticket[priority_id]", [["Low",1], ["Medium",2], ["High",3], ["Urgent",4]],class: "input-field-flex" %>
  </div> 
 <div class="grid-3">
    <p class="subject">Assign to <span style="color: rgb(191, 111, 125);font-weight: bold;">*<span></span></p>
    <select name="ticket[agent]" class="input-field-flex">
    <% @user_org.each do |org| %>
         <optgroup label = "<%= org.org_name %>">
           <% org.agents.all.each do |agent| %>
            <option value = "<%= agent.user.first_name %>"><%= agent.user.first_name %></option>
           </optgroup>
         <% end %>
      <% end %>
    </select>
 </div>

</div>
<div class="description">
        <p class="subject">Description <span style="color: rgb(191, 111, 125);font-weight: bold;">*<span></span></p>
    <%= form.text_area "ticket[description]",class: "description-box",placeholder: "Add ticket description here"%>
</div>
    
<div class="screenshot">
    <p class="subject">Add screenshots</p>
    <p class="form-file">
    <%= form.file_field "ticket[screenshots]",multiple: true,class: "file-uploader",onchange: "imageDiv(this.value)"%>
    <%= form.label "ticket[screenshots]" do%>
    <i class="fa-solid fa-upload"></i>
    <% end %>
    </p>
    <div id="imageDiv">

    </div>
</div>
<%= form.submit "Create", class: "form-continue-button"%>


<% end %>
      
      </div>
      
    </div>
    
      </div>
    </div>
   
 </section>
 <%= javascript_include_tag 'ticket' %>