<%= content_for :title, "Zupp | Create ticket" %>
<%= javascript_include_tag 'ticket' %>
<body id="body-pd">
  <header class="header" id="header">

    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    <p class="ticket_title">Create ticket</p>
    <a href="">
      <%= image_tag "magnifier.png" , class: "search_icon" %>
    </a>
    <input type="text" class="indexlayout_search">
    <%= image_tag "add.png" , class: "plus_icon" %>
      <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
  </header>
  <div class="l-navbar" id="nav-bar">

    <nav class="nav">
    <div> <a href="/tickets" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span
            class="nav_logo-name">Zupp</span> </a>
        <div class="nav_list"> <a href="/tickets" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span
              class="nav_name">Dashboard</span> </a> <a href="/tickets/filter/priority" data-method="post" class="nav_link"> <i
              class="fa-solid fa-triangle-exclamation"></i> <span class="nav_name">High Priority Tickets</span> </a> <a
            href="/tickets/filter/open" data-method="post" class="nav_link"> <i class="fa-solid fa-ticket"></i> <span class="nav_name">Open Tickets</span>
          </a> <a href="/tickets/filter/resolved" data-method="post" class="nav_link"> <i class="fa-solid fa-calendar-xmark"></i> <span class="nav_name">Resolved
              Tickets</span> </a> <a href="#" class="nav_link"> </div>
      </div> <%= link_to destroy_session_path, method: :delete,class: "nav_link",:data => {:confirm => 'Are you sure? Do you want to logout ?'} do %>
      <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span>
    <% end %>
    </nav>
  </div>
  <%= form_with(url: "/tickets", method: "post") do|form| %>
  <!--Container Main start-->
  <div class="height-100 bg-light">
    <!-- <h4>Main Components</h4> -->

  </div>
  <div class="form_form1">

    
      <div class="name_mobile">
        <div class="fname">
          <!-- <p class="fname_name">First Name</p> -->
          <%= form.text_field "ticket[subject]",class: "fname_input", placeholder: "Subject"%>
        </div>
    
        <div class="mobile">
          <!-- <p class="mobile_num">Mobile</p> -->
          <%= form.select("ticket[source]", ["Phone", "Email", "Portal", "Chat", "Feedback Widget"], {selected: "", disabled: "", prompt: "Source"}, { :class => 'mobile_input' }) %>
        </div>
      </div>
  
      <div class="open_status">
        <div class="open">
          <!-- <p class="open_name">Open</p> -->
          <%= form.select("ticket[urgency]", ["Low", "Medium", "High"], {selected: "", disabled: "", prompt: "Urgency"}, { :class => 'open_input' }) %>
        </div>
        
        <div class="status1">
          <!-- <p class="status1_name">Status</p> -->
          <%= form.select("ticket[status_id]", [["Open",1], ["Pending",2], ["Resolved",3], ["Closed",4]], {selected: "", disabled: "", prompt: "Status"}, { :class => 'status1_input' }) %>
        </div>
    
    
        <div class="priority1">
          <!-- <p class="priority1_name">Priority</p> -->
          <%= form.select("ticket[priority_id]", [["Low",1], ["Medium",2], ["High",3], ["Urgent",4]], {selected: "", disabled: "", prompt: "Priority"}, { :class => 'priority1_input' }) %>
        </div>
    
    
        <div class="impact">
          <!-- <p class="impact_name">Impact</p> -->
          <%= form.select("ticket[impact]", ["Low", "Medium", "High"], {selected: "", disabled: "", prompt: "Impact"}, { :class => 'impact_input' }) %>
        </div>
      </div>
  
     
        <div class="assigned">
          <!-- <p class="assigned_name">Assigned To</p> -->
          <select name="ticket[agent]" class="assigned_input">
            <option value="" disabled selected>Assign to --</option>
            <% @user_org.each do |org| %>
                 <optgroup label = "<%= org.org_name %>">
                   <% org.agents.all.each do |agent| %>
                    <option value = "<%= agent.user.first_name %>"><%= agent.user.first_name %></option>
                   </optgroup>
                 <% end %>
              <% end %>
            </select>
        </div>
    
        
    
        <div class="file"> 
          
            <div class="screenshots_div">
              <label for="input" class="screenshots">Add Screenshots</label>
            </div>
      
            <div class="files">
              <%= form.file_field "ticket[screenshots]",multiple: true,class: "my_file"%>
            </div>
            <%= form.submit "Create ticket", class: "button-30"%>
          
        </div>
  
      
      <div class="de2">
        <div class="description2">
          <!-- <p class="des2_name">Description</p> -->
          <%= form.text_area "ticket[description]",class: "form_description",cols: "30",rows: "10",placeholder: "Add Description"%>
          <!-- <textarea name="" id="" class="form_description" cols="30" rows="10" placeholder="Description"></textarea> -->
        </div>
      </div>
      
      
    </div>
    <% end %>
  
    <%= javascript_include_tag 'ticket' %>


    <script>
      document.addEventListener("DOMContentLoaded", function (event) {

        const showNavbar = (toggleId, navId, bodyId, headerId) => {
          const toggle = document.getElementById(toggleId),
            nav = document.getElementById(navId),
            bodypd = document.getElementById(bodyId),
            headerpd = document.getElementById(headerId)

          // Validate that all variables exist
          if (toggle && nav && bodypd && headerpd) {
            toggle.addEventListener('click', () => {
              // show navbar
              nav.classList.toggle('show')
              // change icon
              toggle.classList.toggle('bx-x')
              // add padding to body
              bodypd.classList.toggle('body-pd')
              // add padding to header
              headerpd.classList.toggle('body-pd')
            })
          }
        }

        showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

        /*===== LINK ACTIVE =====*/
        const linkColor = document.querySelectorAll('.nav_link')

        function colorLink() {
          if (linkColor) {
            linkColor.forEach(l => l.classList.remove('active'))
            this.classList.add('active')
          }
        }
        linkColor.forEach(l => l.addEventListener('click', colorLink))

        // Your code to run since DOM is loaded and ready
      });
    </script>




