<%= form_with(url: "/tickets", method: "post", class: "AddTicket") do|form| %>
  <%= form.text_field "ticket[subject]",class: "", placeholder: "First Name", autofocus: "autofocus"  %>
  <%= form.select "ticket[source]", ["Phone", "Email", "Portal", "Chat", "Feedback Widget"],class: "" %>
    <%= form.select "ticket[status_id]", [["Open",1], ["Pending",2], ["Resolved",3], ["Closed",4]],class: "" %>
    <%= form.select "ticket[urgency]", ["Low", "Medium", "High"],class: "" %>
    <%= form.select "ticket[impact]", ["Low", "Medium", "High"],class: "" %>
    <%= form.select "ticket[priority_id]", [["Low",1], ["Medium",2], ["High",3], ["Urgent",4]],class: "" %>
    <select name="ticket[agent]">
    <% @user_org.each do |org| %>
         <optgroup label = "<%= org.org_name %>">
           <% org.agents.all.each do |agent| %>
            <option value = "<%= agent.user.first_name %>"><%= agent.user.first_name %></option>
           </optgroup>
         <% end %>
      <% end %>
    </select>
    <%= form.text_area "ticket[description]",class: ""%>
    <%= form.file_field "ticket[screenshots]",multiple: true,class: ""%>
    <%= form.submit "Continue", class: "signup_Form-submit"%>


<% end %>