<%@pro = Priority.find(ticket.priority_id)%>
<%@sta = Status.find(ticket.status_id)%>
<%@requester = User.find(ticket.user_id)%>
<%@note = note(ticket) %>
<% @user_note = User.find(@note.user_id) if(@note != nil)%>

<tr class="ticket_row" >
    <td style="width: 10px;margin-left: -10px;"> <%= form_with(url: "/tickets/update/#{ticket.id}", method: "post") do |form| %>
           <%= check_box 'selected', 'result', {onclick: "this.form.submit()", checked: (array_returned.include? ticket.id) ?true:false}, 1, 0 %>
        <% end %>
   </td>
   <%= form_with(url: "/tickets/#{ticket.id}", method: "put") do |form|%>
   <% @subject = length_of_subject(ticket.subject) %>
   <td>
       <a href="/notes/<%=ticket.id%>" data-method="get" style="text-decoration:none; color:black;"><%= @subject %></a>
     </td>
    <td><%= @requester.first_name %></td>
    <td>
        <%= select_tag 'status_id', options_for_select([["Open",1], ["Pending",2], ["Resolved",3], ["Closed",4]],[@sta.status,ticket.status_id]),onchange: "this.form.submit()",disabled: (@user.role!="admin" or ticket.status_id== 4)?true:false%>
    </td>
    <td>
        <%= select_tag 'priority_id', options_for_select([["Low",1],["Medium",2],["High",3],["Urgent",4]],[@pro.priority,ticket.priority_id]),onchange: "this.form.submit()",disabled: (@user.role!="admin" or ticket.status_id== 4)?true:false %>
    </td>
    <td>
        <select name="agent" onchange="this.form.submit()" <%=(@user.role!="admin" or ticket.status_id== 4)?"disabled":nil%>>
            <% @user_org.each do |org| %>
            <optgroup label = "<%= org.org_name %>">
                <% org.agents.all.each do |agent| %>
                              <% if ticket.agent == agent.user.first_name %>
                                <option value = "<%= agent.user.first_name %>" selected="selected" ><%= agent.user.first_name %></option>
                              <% else %>
                                <option value = "<%= agent.user.first_name %>"><%= agent.user.first_name %></option>
                              <% end %>
            </optgroup>
                <% end %>
                <% end %>
        </select>
        <% end %>
    </td>
    <td>
    <% if @note != nil%>
    <a href="/notes/<%=ticket.id%>" data-method="get" style="text-decoration:none;color: black;">
           <p><%= @user_note.first_name %> added a public note</p>
    </a>
    <% else %>
    <a href="/notes/<%=ticket.id%>" data-method="get" style="text-decoration:none;color: black;">
     No recent notes
     </a>
  <% end %>
</td>
  </tr>

  <%= javascript_include_tag 'ticket' %>