<%= render "nav" , all: @all ,priority: @priority, open: @open, resolved: @resolved, title: @title,user: @user,page: "index",filtered: @filtered %>

 <br>
  <div class="sales-boxes">
     <div class="recent-sales box">
       
        <div class="bulk_update">
        <div class = "select_all_div">
        <%= form_with(url: "/tickets/update/all/select" , method: "post" ) do |form| %>
        <% if @length==nil or @tickets.length==0%>
        <%= check_box 'selected', 'result', {onclick: "this.form.submit();", checked: false}, 1, 0 %>
        <% elsif @tickets.length!=0 %>
        <% puts @tickets.length %>
        <% puts @length %>
        <%= check_box 'selected', 'result', {onclick: "this.form.submit();", checked: (@length) ?true:false}, 1, 0 %>
        <% end %>
        <%end%>
          <p class="select_all_text">Select All</p>
        </div>
       <% if @array_returned.length !=0 %>
       <div class="selected_div">
        <div class="pickup">
       <%= form_with(url: "/tickets/select/bulk/pickup" , method: "put" ) do |form|%>
       <%= form.submit "Pickup" ,class: "pickup_button" %>
         <% end %>
        </div>
          <div class="assigned_to_select">
           <%= form_with(url: "/tickets/select/bulk/assigned_to" , method: "put" ,class: "assigned_to_form" ) do |form|%>
           <select name="agent" class="assigned_to_select_select" onchange="this.form.submit()">
            <option value="" disabled selected>Assign to --</option>
            <% @user_org.each do |org| %>
                 <optgroup label = "<%= org.org_name %>">
                   <% org.agents.all.each do |agent| %>
                    <option value = "<%= agent.user.first_name %>"><%= agent.user.first_name %></option>
                   </optgroup>
                 <% end %>
              <% end %>
            </select>
          </div>
              <% end %>
              <div class="pickup">
              <%= button_to "Delete all" , delete_bulk_path ,method: :delete,class: "pickup_button" %>
            </div>
         
       </div>
       <% end %>
       <div class="sort_by_div">
        <p class="sort_by_text" style="margin-top: -3px;">Sort By :</p>
          <%= form_with(url: "/sort" , method: "post" ) do%>
              <%= select_tag 'sort' , options_for_select(['Date created','Priority',"Status","Last Modified"],@sort_order),onchange: "this.form.submit()",class: "assigned_to_select_select" %>
              <%= select_tag 'order',options_for_select(['Ascending','Descending'],@sorting_order),onchange: "this.form.submit()", class: "assigned_to_select_select" %>
          <% end %>
        </div>

       </div>
       
       <div class="tickets_div">
        <table class="tickets_table">
          <tr class="head-tr">
            <th style="width: 10px;"> </th>
            <th>Subject</th>
            <th>Requester</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Agent</th>
            <th>Recent activity</th>
          </tr>
          
          
          <%@tickets.each do|ticket| %>
            <% @count += 1 %>
            <% puts @count %>
            <tr>
            <%= render "index_layout" , title: "index" ,ticket: ticket, count: @count, array_returned:
            @array_returned %>
            </tr>
            <% end %>
          </table>
          
       </div>
       </div>
       <%== pagy_nav(@pagy).html_safe %>
       
     </div>
     
       </div>
    </div>
    
  </section>
  
  <%= javascript_include_tag 'ticket' %>



