<%= content_for :title, "Zupp | Tickets" %>
<img class='' style="height: 30px; width: 40px" src="<%=asset_path('logo.png')%>">
<br><br>
<%= link_to destroy_session_path, method: :delete do %>
  <i class="bx bx-log-out"></i>Log out
<% end %>
<%= form_with(url: "/search", method: "get") do%>
  <input type="text" name="search" placeholder="Search...">
  <button type="submit" value="Search"><i class="fa-solid fa-magnifying-glass"></i></button>
<% end %>
<%= @user.first_name %><i class="fa-solid fa-circle-user"></i>
<%= form_with(url: "/tickets/update/all/select", method: "post") do |form| %>
  <%= check_box 'selected', 'result', {onclick: "this.form.submit()", checked: (@length)?true:false }, 1, 0 %>
  Select all
<% end %>
<% if @array_returned.length != 0 %>
   <div>
          <%= form_with(url: "/tickets/select/bulk/pickup", method: "put") do |form|%>
            <%= form.submit "Pickup" %>
          <% end %>
          <%= form_with(url: "/tickets/select/bulk/assigned_to", method: "put") do |form|%>
            <% if @user.role == "admin" %>
              <select name="agent" onchange="this.form.submit()">
            <% else %>
              <select name="agent" onchange="this.form.submit()" disabled>
            <% end %>
                  <% @user_org.each do |org| %>
                       <optgroup label = "<%= org.org_name %>">
                         <% org.agents.all.each do |agent| %>
                          <option value = "<%= agent.user.first_name %>"><%= agent.user.first_name %></option>
                         </optgroup>
                       <% end %>
                  <% end %>
          
          <% end %>
          <br>
<% end %>
</div>
<%= form_with(url: "/sort", method: "post", class: "AddTicket") do%>
     <div>
      <i class="fa-solid fa-sort"></i> Sort by :
          <%= select_tag 'sort', options_for_select(['Date created','Priority',"Status","Last Modified"],@sort_order),onchange: "this.form.submit()"%>
          <%= select_tag 'order', options_for_select(['Ascending','Descending'],@sorting_order),onchange: "this.form.submit()"%>
          </div>
      <% end %>

<br>
        
<% @tickets.each do |ticket| %>
      <% @count+=1 %>
          <%= render "index_layout", title: "index",ticket: ticket, count: @count, array_returned: @array_returned %>
      <% end %>

<%= javascript_include_tag 'ticket' %>