
<!-- Title for the page -->
<%= content_for :title, "Zupp | Ticket ##{@ticket.id}" %>
<!-- Navbar content for the page -->
<%= render "nav" ,all: false ,priority: false, open: false, resolved: false, title: "Ticket ##{@ticket.id}",user: @user,filtered: @filtered,page: "notes" %>
<!-- Fetching mapped data for a ticket and note  -->
<%@pro = Priority.find(@ticket.priority_id)%>
<%@sta = Status.find(@ticket.status_id)%>
<% @requester = User.find(@ticket.user_id) %>

<!-- Main div starts -->
<div class="flex-holder-div">
<div class="notes-holder">
<!-- Container - details about ticket creation and creator  -->
<div class="user-details">
  
  <div class="subject_note_ticket">
    <div class="ticket_icon">
    <i class="fa-solid fa-ticket"></i>
    </div>
    <div class="ticket_prop_holders">
    <p class="ticket_subject">
      <%= @ticket.subject %>
    </p>
    <p class="time-holder-ticket">
      <% @ticket_date = ((Date.today - Date.parse(@ticket.created_at.strftime("%F"))).to_s).split("")[0] %>
      Created <%= date(@date,@ticket)%>
    </p>
    <p class="time-holder-ticket" style="font-weight:bold">
      <%= @requester.first_name %> <%= @requester.last_name %>
    </p>
  </div>

  
    
  </div>
  
  <div class="description-user-holder">
     <%= @ticket.description %>
  </div>
</div>


<!-- Main container - Notes listing  -->
<div class="chats">
   <!-- Container - Details about recently added note and creator  -->
   
  <!-- Container - Notes Listing  -->
  <div class="notes_div">
    <% @activities.order("id ASC").each do |note| %>
    <% if note.activity_model_id == 1 %>
    <% if (changes_in(note,1).length == 0 and note.action_id != 2) or (changes_in(note,1).length != 0)%>
        <div class="note-container">
        <div class="activity">
          <% if note.action_id == 1 %>
          <p class="note_creator" style="font-size: 16px;"><%= note.user.first_name %> <span style="color: black;font-size: large;margin-left: 3px;margin-right: 3px;">created</span> this ticket: <span style="margin-left: 3px; color: black; font-size: large;">Ticket #<%=note.ticket_id%> </span> </p>
          <% elsif note.action_id == 2 %>
          <% @changes_array = changes_in(note,1) %>
          <p class="note_creator" style="font-size: 16px;"><%= note.user.first_name %> changed the <%= @changes_array[2] %> of this ticket from <%= @changes_array[0] %> to <%= @changes_array[1] %></p>
          <% elsif note.action_id == 4 %>
          <p class="note_creator" style="font-size: 16px;"><%= note.user.first_name %> <span style="color: black;font-size: large;margin-left: 3px;margin-right: 3px;">created</span> this ticket: <span style="margin-left: 3px; color: black; font-size: large;">Ticket #<%=note.ticket_id%> </span> as a clone</p>
          <% end %>
          <% @note_date_user = ((Date.today - Date.parse(note.created_at.strftime("%F"))).to_s).split("")[0] %>
          <p class="date-created" style="font-size: 12px;margin-left: 0px;margin-top: 10px;"><%= date(@note_date_user,note)%></p>
        </div>
        </div>
        <% end %>
        <% elsif note.activity_model_id == 2 %>
        <% if ((changes_in(note,2).length == 0 and note.action_id != 6) or (changes_in(note,2).length != 0)) and (note.action_id != 7)%>
        <div class="note-container">
          <div class="activity">
            <% if note.action_id == 5 %>
            <p class="note_creator" style="font-size: 16px;"><%= note.user.first_name %> <span style="color: black;font-size: large;margin-left: 3px;margin-right: 3px;">added a public note </span></p>
            <% elsif note.action_id == 6 %>
              <% @changes_array = changes_in(note,2) %>
              <p class="note_creator" style="font-size: 16px;"><%= note.user.first_name %> edited the note of this ticket from <%= @changes_array[0] %> to <%= @changes_array[1] %></p>
            <% end %>
          <% @note_date_user = ((Date.today - Date.parse(note.created_at.strftime("%F"))).to_s).split("")[0] %>
          <p class="date-created" style="font-size: 12px;margin-left: 0px;margin-top: 10px;"><%= date(@note_date_user,note)%></p>
        </div>
      </div>
        <% end %>
        <% end %>
        <% end %>

    </div>
  </div>
</div>

<!-- Main Container - Bot  -->
<div class="bot-holder">
    <!-- Container - Current ticket Properties with Edit Options  -->
    <div class="ticket-properties">
      
      <%= form_with(url: "/notes/tickets/#{@ticket.id}", method: "put", class: "AddTicket") do |form|%>
      <div class="ticket-field-1">
        <p class="ticket-field-1-title">Status</p>
        <p class="ticket_field-1-subject">
          <%= select_tag 'status_id', options_for_select([["Open",1], ["Pending",2], ["Resolved",3], ["Closed",4]],[@sta.status,@ticket.status_id]),onchange: "this.form.submit()",disabled: (@user.role!="admin")?true:false%>
        </p>
      </div>
      <div class="ticket-field-1">
        <p class="ticket-field-1-title">Priority</p>
        <p class="ticket_field-1-subject">
          <%= select_tag 'priority_id', options_for_select([["Low",1],["Medium",2],["High",3],["Urgent",4]],[@pro.priority,@ticket.priority_id]),onchange: "this.form.submit()",disabled: (@user.role!="admin")?true:false%>
        </p>
      </div>
      <div class="ticket-field-1">
        <p class="ticket-field-1-title">Assigned to</p>
        <p class="ticket_field-1-subject">
          <select name="agent" onchange="this.form.submit()" <%=(@user.role!="admin")?"disabled":nil%>>
            <% @user_org.each do |org| %>
            <optgroup label = "<%= org.org_name %>">
                <% org.agents.all.each do |agent| %>
                <% if @ticket.agent == agent.user.first_name %>
                <option value = "<%= agent.user.first_name %>" selected="selected" ><%= agent.user.first_name %></option>
              <% else %>
                <option value = "<%= agent.user.first_name %>"><%= agent.user.first_name %></option>
              <% end %>
            </optgroup>
                <% end %>
                <% end %>
        </select>
        </p>
      </div>
     <% end %>
     
    </div>
    <!-- Container - Bot  -->
    <div class="bot-icon-holder">
      <!-- Container - Bot Call Event  -->
      <div class="bot-icon" id="bot-icon1" style="display: block;" onclick="bot_div(1,2)">
        <p class="bot-description">Ms.Zupp is here to help you perform more ticket actions</p>
        <%= image_tag "faky.gif",class: "bot-image-gif"%>
      </div>
      <!-- Container - Bot Definitions and Redirection Links  -->
      <div class="bot-icon" id="bot-icon2" style="display: none;">
        <div class="div-2-container">
          <div class="left-bot-div-2">
            <p class="welcome-bot">
              Hola! I am Ms.Zupp
            </p>
            <p class="help-description">I can help you</p>
            <div class="contents">
              <div class="topic1">
                 <p class="question" onclick="bot_div(2,3)">Close this ticket</p>
              </div>
              <div class="topic1">
                <p class="question" onclick="bot_div(2,4)">Delete this ticket</p> 
             </div>
             <div class="topic1">
              <p class="question" onclick="bot_div(2,6)">Clone this ticket</p>
           </div>
           <div class="topic1">
            <p class="question" onclick="window.location.href='/notes/<%=@ticket.id%>'">Show notes</p>
         </div>
            </div>
          </div>
          <div class="right-bot-div-2" id="div-2-flexes"><%= image_tag "bot-2.gif",class: "bot-image-gif2"%></div>
       </div>
      </div>
      <!-- Container - Close ticket Confirmation  -->
       <div class="bot-icon3" id="bot-icon3" style="display: none;">
          <div class="alert_box_close">
              <p class="confirm2_text">On performing this event ,<br> the status of this ticket will be turned as "CLOSED"</p>
              <div class="confirm-buttons-div">
                <div class="yes_button">
                  <%= button_to "Confirm", "/notes/tickets/close/#{@ticket.id}",method: :put,class: "yes_button_click" %>
                </div>
                <div class="no_button">
                  <%= button_tag "Cancel",class: "no_button_click",onclick: "bot_div(3,2)"%>
                </div>
            </div>
          </div>
         </div>
        <!-- Container - Delete Ticket Confirmation  -->
       <div class="bot-icon3" id="bot-icon4" style="display: none;">
        <div class="alert_box_close">
            <p class="confirm2_text"> On performing this event ,<br> this ticket will be "DELETED"</p>
            <div class="confirm-buttons-div">
              <div class="yes_button">
                <%= button_to "Confirm", "/tickets/#{@ticket.id}",method: :delete,class: "yes_button_click" %>
              </div>
              <div class="no_button">
                <%= button_tag "Cancel",class: "no_button_click",onclick: "bot_div(4,2)"%>
              </div>
          </div>
        </div>
       </div>
       <div class="bot-icon3" id="bot-icon6" style="display: none;">
        <div class="alert_box_close">
            <p class="confirm2_text">On performing this event , <br> a clone of this ticket is created</p>
            <div class="confirm-buttons-div">
              <div class="yes_button">
                <%= button_to "Confirm", "/tickets/clone/#{@ticket.id}",method: :post,class: "yes_button_click" %>
              </div>
              <div class="no_button">
                <%= button_tag "Cancel",class: "no_button_click",onclick: "bot_div(6,2)"%>
              </div>
          </div>
        </div>
       </div>
       <!-- Container - Canned responses list and Add as a note option  -->
     
     </div>
    </div>
  </div>
</div>
</div>
</section>

<!-- Javascript files used  -->
<%= javascript_include_tag 'ticket' %>
<%= javascript_include_tag 'note' %>